html,
body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6rem;
    letter-spacing: 0.05rem;
    height: 100%
}

object {
    pointer-events: none;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 1.5rem;
}
