html,
body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6rem;
    letter-spacing: 0.05rem;
    height: 100%;
}

.header {
    background-color: white;
}

object {
    pointer-events: none;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
}

.navbar-toggler {
    font-size: 2.5rem;
}

.rotate-up {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

}

.rotate-down {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

}

a:hover, a:active, a:focus {
    outline: 0;
}

button:hover, button:active, button:focus {
    outline: 0;
}
