html,
body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6rem;
    letter-spacing: 0.05rem;
    height: 100%
}


a svg { fill: #DA3232; transition: fill 0.1s; }
a:hover path { fill: #4e86b1; }
.secondb { fill: #4e86b1; transition: fill 0.1s; }
.secondb:hover { fill: #000; }


a svg g path {
    fill: blue;
}

#path91 {
    fill: blue;
}


object {
    pointer-events: none;
}
