{% extends 'base.html' %}
{% load static %}

{% block title %} Natasha Lall | {{artwork}} {% endblock %}

{% block heading %}
<h4>{{artwork}}, {{ artwork.creation_date.year }}</h4>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for video in videos %}
                <div class="col-12">
                    <div class="embed-responsive embed-responsive-16by9 mt-auto pb-5">
                        <iframe class="embed-responsive-item" src="{{ video.url }}" allowfullscreen></iframe>
                    </div>
                </div>
            {% endfor %}

            {% for image in images %}
                <div class="col-12">
                    <img class="img-fluid mt-auto pb-5" src="{{ image.image_large.url }}"/>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            
        </div>
    </div>
{% endblock %}
