{% extends 'base.html' %}
{% load static %}

{% block title %} Natasha Lall | {{artwork}} {% endblock %}

{% block heading %}
    
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <h4>{{artwork}}, {{ artwork.creation_date.year }}</h4>
            </div>
            {% for image in artwork.images.all %}
                <div class="col-12 col-md-8">
                    <img class="img-fluid mt-auto pb-5" src="{{ image.image_large.url }}"/>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
