{% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/work.css' %}">{% endblock %}

{% block title %} Natasha Lall | Work {% endblock %}

{% block heading %}
    <object type="image/svg+xml" data="{% static 'img/work.svg' %}" height="40">Work</object>
{% endblock %}

{% block content %}
    <div class="container">
        <ul>
            {% for exhibition in exhibitions %}
                <li>{{exhibition}}</li>
            {% endfor %}
        </ul>
    </div>

    {% include "work/artwork_grid.html" with artworks=artworks %}

{% endblock %}


