{% extends 'base.html' %}
{% load static %}

{% block title %} Natasha Lall | Work {% endblock %}

{% block heading %}
    <object type="image/svg+xml" data="{% static 'img/work.svg' %}" height="40">Work</object>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for artwork in artworks %}
                <div class="col-12 col-md-6 col-lg-4 d-flex flex-column pb-5">
                    <img class="img-fluid mt-auto pb-4" src="{{ artwork.images.first.image_medium.url }}"/>
                    <div class="mt-auto">{{artwork}}, {{ artwork.creation_date.year }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
