{% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/work.css' %}">{% endblock %}

{% block title %} Natasha Lall | Work {% endblock %}

{% block heading %}
    <object type="image/svg+xml" data="{% static 'img/work.svg' %}" height="40">Work</object>
{% endblock %}

{% block content %}
    <div class="container">
        <ul>
            {% for exhibition in exhibitions %}
                <li>{{exhibition}}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="container">
        <div class="row">
            {% for artwork in artworks %}
                <div class="col-12 col-md-6 col-lg-4 pb-5">
                    <div class="thumbnail" href="#">
                        <a href="{% url 'artwork_detail' pk=artwork.pk %}">
                            <img class="img-fluid" src="{{ artwork.images.first.image_medium.url }}" alt="" />
                        </a>
                        <div class="caption pt-4">
                            {{artwork}}, {{ artwork.creation_date.year }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


