{% extends 'base.html' %}
{% load static %}

{% block title %} Natasha Lall | Contact {% endblock %}

{% block heading %}
    <div class="pt-2 pb-5">
        <div class="container text-center text-md-left">
            <h4>
                <object type="image/svg+xml" data="{% static 'img/contact.svg' %}" height="40">Contact</object>
            </h4>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% autoescape off %} {{ contact_info }} {% endautoescape %}
            </div>
        </div>
    </div>
{% endblock %}
