<footer class="footer">
    <div class="container">
        <div>
            <div class="nav navbar-text">Copyright Natasha Lall.</div>
            <div class="nav navbar-text">Website design by Hector Bennett.</div>
            <ul class="nav navbar-nav navbar-right">
                {% for sm in social_media_links %}
                    <li><a target="_blank" href="{{ sm.url }}"><i class="fa fa-lg {{ sm.type.css_class }}" aria-hidden="true"></i></a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</footer>
