{% load staticfiles %}
{% load main_tags %}

<div class="header pt-3 pt-md-5">
    <div class="navbar justify-content-center">
        <a href="/">
            <img class="img-fluid" src="{% static 'img/logo.svg' %}" width="400"/>
        </a>
    </div>

    

    <nav class="navbar navbar-expand-md justify-content-center">
        <div class="collapse navbar-collapse justify-content-center" id="navbar-content">
            <div class="navbar-nav ">
                <a id="info-btn" class="nav-link text-center {% if "/info/" in request.path %}active{% endif %}" href="/info">
                    <img src="{% static 'img/info.svg' %}" height="25"/>
                </a>
                <a id="work-btn" class="nav-link text-center {% if "/work/" in request.path %}active{% endif %}" href="/work">
                    <img src="{% static 'img/work.svg' %}" height="25"/>
                </a>
                <a id="shows-btn" class="nav-link text-center {% if "/shows/" in request.path %}active{% endif %}" href="/shows">
                    <img src="{% static 'img/shows.svg' %}" height="25"/>
                </a>
                <a id="contact-btn" class="nav-link text-center {% if "/contact/" in request.path %}active{% endif %}" href="/contact">
                    <img src="{% static 'img/contact.svg' %}" height="25"/>
                </a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
        </button>
    </nav>

</div>
