{% extends 'base.html' %}
{% load static %}

{% block title %} Natasha Lall | {{exhibition}} {% endblock %}

{% block heading %}
<h4>{{exhibition}}, {{ exhibition.date.year }}</h4>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            {% if exhibition.description %}
                <div class="col-12 pb-5">
                    {{ exhibition.description }}
                </div>
            {% endif %}

        </div>
    </div>

    {% include "work/artwork_grid.html" with artworks=artworks %}

{% endblock %}
