{% extends 'base.html' %}
{% load static %}
{% load main_tags %}

{% block css %}<link rel="stylesheet" href="{% static 'css/work.css' %}">{% endblock %}

{% block title %} Natasha Lall | Shows {% endblock %}

{% block heading %}
    {% page_heading image='img/shows.svg' %}
{% endblock %}

{% block content %}
    <ul>
        {% for exhibition in exhibitions %}
            <li><a href="{% url 'exhibition_detail' pk=exhibition.pk %}">{{exhibition.title_and_year}}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
