{% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/work.css' %}">{% endblock %}

{% block title %} Natasha Lall | Shows {% endblock %}

{% block heading %}
    <object type="image/svg+xml" data="{% static 'img/shows.svg' %}" height="40">Shows</object>
{% endblock %}

{% block content %}
    <div class="container">
        <ul>
            {% for exhibition in exhibitions %}
                <li><a href="{% url 'exhibition_detail' pk=exhibition.pk %}">{{exhibition}}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
